*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --primaryColor : #759AFF;
    --backGroundColor : #08122A;
    --backGroundColor2 : #0D1935;
    --whiteColor:#ffffff;
}


.navBarTop,.navBarScroll{
    position: fixed;
    z-index: 999999;
    width: 100%;
    display: flex;
    flex-direction: row;
    /*height: 10vh;*/
    padding: 24px 56px;
    backdrop-filter: blur(20px);
    --webkit-backdrop-filter : blur(20px);
    background-color: rgb(13, 25, 53,0.5);
    box-shadow: 0px 0px 50px rgb(13, 25, 53);
    transition: 100ms ease-in-out all;
    -webkit-transition: 100ms ease-in-out all;
    -moz-transition: 100ms ease-in-out all;
    -ms-transition: 100ms ease-in-out all;
    -o-transition: 100ms ease-in-out all;
}
.navBarScroll{
    backdrop-filter: blur(20px);
    --webkit-backdrop-filter : blur(20px);
    background-color: rgb(13, 25, 53,0.5);
    box-shadow: 0px 0px 50px rgb(13, 25, 53);
    padding: 24px 56px;
}
img{
   /* background-color: aqua;*/
    width: 8rem;
    height: 2rem;
}
.logoIcon{
    /*background-color: #759AFF;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}
.leftList{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px;
    padding: 0px 40px;
    /*background-color: aquamarine;*/
    flex: 4;
}
.rightList{
    /*background-color: aquamarine;*/
    flex: 1;
}
.leftList , .rightList{
   /* width: 100%;
    background-color: brown;*/

}
.leftList li,.rightList li{
    margin: 0px 1.5rem;
    list-style: none;
}
.rightList li, .rightList li a , button{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    /*background-color: bisque;*/
}
/*.leftList li button{
    padding-bottom: 4px;
    border-bottom: 2px solid var(--primaryColor);
}*/
.leftList .linkChoosen{
    border-bottom: 2px solid var(--primaryColor);
    transition: 50ms ease-in-out all;
    -webkit-transition: 50ms ease-in-out all;
    -moz-transition: 50ms ease-in-out all;
    -ms-transition: 50ms ease-in-out all;
    -o-transition: 50ms ease-in-out all;
}

.leftList .linkDefault{
    border: none;
    padding: 0;
}
.getStartedBox{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 0px 0px 16px;
    /*width: 100%;
    /*background-color: #759AFF;*/
}
.getStartedBox .rightList{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
   /* background-color: aquamarine;*/
}
.getStartedBox .rightList li:nth-child(2){
    margin-right: 0px;
}
.getStartedBox .rightList li:nth-child(2) a{
    background-color: var(--primaryColor);
    color: var(--backGroundColor);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    margin-right: 0px;
    padding: 8px 16px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 0 1px 8px rgb(117, 154, 255, 0.1);
}
.getStartedBox .rightList li:nth-child(1) a{
    /*background-color: var(--primaryColor);*/
}

i{
    color:var(--whiteColor);
    display: none;
    font-size: 2rem;
}

@media (width <= 420px){
    
    html{
        font-size: 8px;
    }

    .navBarTop .rightList,.navBarTop .leftList,.navBarScroll .rightList,.navBarScroll .leftList {
        display: none;
    }

    i{
        display: flex;
        
    }

}

@media (720px >= width > 420px){
    html{
        font-size: 12px;
    }
    .navBarTop .rightList,.navBarTop .leftList,.navBarScroll .rightList,.navBarScroll .leftList {
        display: none;
    }

    i{
        display: flex;
        
    }
}

/*@media (width < 1080px){
    html{
        font-size: 16px;
    }

}*/
